.card{
    background-color: #6cc7d3;
}
.card1{
    margin-bottom : 2em;
    height: auto;
}

.card1 ul li a{
    color: black;
    text-decoration:none;
}
.card1 ul li a:hover{
    color: blue;
    text-decoration:none;
}
.card h5{
    height: 4em;
}
.card1:hover{
    box-shadow : 3px 3px 8px hsl(0, 0%, 70%);
    -webkit-box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}


