
th,
.th {
    padding: 0px !important;
    margin: auto;
    text-align: center;
}
td,
th {
     padding: 0px !important;
    text-align: center;
    vertical-align: middle;
}
.table-left {
    text-align: start;
    vertical-align: middle;
}
